@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.eot");
  src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/Manrope-Bold.ttf") format("truetype"),
    url("../fonts/Manrope-Bold.svg#Manrope-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.eot");
  src: url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff"),
    url("../fonts/Manrope-Medium.ttf") format("truetype"),
    url("../fonts/Manrope-Medium.svg#Manrope-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("../fonts/Manrope-Regular.eot");
  src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff"),
    url("../fonts/Manrope-Regular.ttf") format("truetype"),
    url("../fonts/Manrope-Regular.svg#Manrope-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}
