.footer {
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 80px;
  }
  @media (min-width: 1200px) {
    margin-top: 120px;
  }
  & h3 {
    font-family: "Manrope-Regular";
    font-size: 24px;
    line-height: 33px;
    color: #7d2335;
    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 44px;
    }
  }
  & h4 {
    font-family: "Manrope-Regular";
    font-size: 24px;
    line-height: 33px;
    color: #3a111e;
    margin-top: 40px;
  }
  & .item {
    margin-top: 20px;
    &__content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 210px;
      & span {
        font-family: "Manrope-Regular";
        font-size: 14px;
        line-height: 22px;
        color: #747474;
        @media (min-width: 768px) {
          font-size: 18px;
          line-height: 26px;
        }
      }
      & a {
        font-family: "Manrope-Regular";
        font-size: 14px;
        line-height: 22px;
        color: #747474;
        @media (min-width: 768px) {
          font-size: 17px;
          line-height: 26px;
        }
      }
    }
  }
}
.item__content-port {
  @media (min-width: 992px) {
    width: 230px !important;
  }
}
